*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eventos{
    background-color: #00abfe;
    width: 100w;
    height: 100vh;
}

/*formulario*/
.formulario{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.form-header img{
    height: 50px;
    width: 50px;
}

.formulario h3{
    margin-top: 5px;
    color: white;
    font-size: 2rem;
}

form{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    border-radius: 2rem;
    background-color: #eef9ff;
}

form input{
    width: 80%;
    height: 2.5rem;
    border: 2px solid #97d9ec;
    border-radius: .5rem;
    padding-left: 5px;
    font-size: medium;
    color: #1c2943;
    ;
}

#agregar{
    border: 2px solid #00abfe;
    background-color: #00abfe;
    border-radius: 1rem;
    height: 3rem;
    color: #eef9ff;
    font-size: medium;
}

form input::placeholder{
    padding-left: 3px;
}
form input:focus{
    border: 1px solid #97d9ec;
    border-radius: .5rem;
}

/*lista de eventos*/
.contenedor-eventos{
    height: 60%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaEventos2{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eef9ff;
    border-radius: 1.5rem;
    overflow-y: auto;
}

.evento{
    border: 2px solid #8edcff;
    border-radius: .5rem;
    width: 95%;
    height: 6rem; 
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dias{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dias .diasFaltantes{
    font-size: 2rem;
    font-weight: bold;
    height: 45%;
    display: flex;
    justify-content: center;
    color: #36ae62;
}

.dias .texto{
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.evento .nombreEvento {
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow-x: auto; /* Agrega una barra de desplazamiento solo cuando el contenido se desborda */
}

.evento .fechaEvento{
    font-size: large;
    font-weight: 500;
}

.acciones{
    height: 45%;
    width: 12%;
}

.acciones button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    background-color: #83e440;
    color: #0d452c;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.acciones button:hover{
    background-color: #e73c3b;
    color: #eef9ff;
}

/*cuando no hay eventos*/
.emptyList{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1c2943;
}

.emptyList img{
    height: 80px;
    width: 150px;
}